I am a small board

{{!-- {{yield}} --}}
<table>
  <thead></thead>
  <tbody>
    {{#each row in board.row }}
      <tr>
        {{#each square in row}}
        <td>{{tic-spot square=square currentPlayer=currentPlayer}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>