/*html, body {
  margin: 20px;
}*/

table.board {
  border-collapse: collapse;
}
table.board td, table.board th {
  border: 1px solid black;
}
table.board tr:first-child th {
  border-top: 0;
}
table.board tr:last-child td {
  border-bottom: 0;
}
table.board tr td:first-child,
table.board tr th:first-child {
  border-left: 0;
}
table.board tr td:last-child,
table.board tr th:last-child {
  border-right: 0;
}
